Options -MultiViews
RewriteEngine On

RewriteBase /project/api/public

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{THE_REQUEST} GET
RewriteRule ^(.+)$ index.php?url=$1&%{QUERY_STRING} [QSA,L]

RewriteCond %{THE_REQUEST} POST
RewriteRule ^(.+)$ index.php?url=$1&%{QUERY_STRING} [QSA,L]

RewriteCond %{THE_REQUEST} PUT
RewriteRule ^(.+)$ index.php?url=$1&%{QUERY_STRING} [QSA,L]

RewriteCond %{THE_REQUEST} DELETE
RewriteRule ^(.+)$ index.php?url=$1&%{QUERY_STRING} [QSA,L]


